@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.teacher-container {
  display: flex;
}

.input-container {
  display: flex;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

#my-button {
  background-color:orange ;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#my-button:hover {
  background-color: #00bfff ;
}

.calculation-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: hsl(210, 87%, 39%);
  padding: 10px;
}

.calculation-item div:first-child {
  font-size: 18px;
  font-weight: bold;
}

.calculation-item div:last-child {
  font-size: 24px;
  font-weight: bold;
}

.student-data {
  color: lightcyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.student-data h2 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 10px;
}

.student-data ol {
  color: lightgoldenrodyellow;
  list-style-type: none;
  margin-left: 20px;
}

.student-answer {
  display: flex;
  color: lightgrey;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color:lightblue;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  width: 60vh;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightcyan;
  border-radius: 10px;
  box-shadow:1px;
  padding: 20px;
  margin-bottom: 20px;
}

.student-name-input {
  margin-bottom: 10px;
}

.question-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.question-item {
  display: flex;
  color: #ffffff;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
}
.student-name-heading{
  color: blue;
  font-size: 20px;
}
.question-item::before {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid black;
  text-align: center;
}


.answer-input {
  margin-left: 10px;
}

.submit-btn {
  background-color:lightblue;
  border: none;
  color: #4B0082;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.student-name {
  display: flex;
  justify-content: space-between;
  width: 40vw;
}

h2{
  color: white;
}